@{
    ViewData["Title"] = "Добавить в друзья";
}

<style>
    table {
        border-spacing: 0 15px;
        align-self: center;
    }

    th {
        background-color: #4287f5;
        color: white;
    }

    th,
    td {
        width: 150px;
        text-align: center;
        border: none;
        padding: 5px;
    }

    h2 {
        color: #4287f5;
    }

    .submit-button {
        position: absolute;
        margin-left: 140px;
    }
</style>


<div class="text-center">
    <div>
        @if (Model == null)
        {
            <form method="post">
                <table>
                    <tr>
                        <td>Email:</td>
                        <td><input type="text" name="Email" required title="Пожалуйста, введите поле" /> </td>
                    </tr>
                </table>
                <div class="submit-button">
                    <input type="submit" value="Вход" />
                </div>
            </form>
        }
        else if (Model == true)
        {
            <p>Вы добавили друга</p>
        }
        else if (Model == false)
        {
            <p>Друг уже добавлен</p>
        }
    </div>
</div>